<div class="card">    
    <img src="{{planet.img}}" class="image">
    <p class="title">{{planet.name}}</p>
    <p class="short-description">{{planet.description}}</p>
    <div class="card-buttons spaceFlex">
        {% if action == 'Добавить' %}
            <form action="{% url 'addPlanet' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="addingPlanet" value="{{planet.planetID}}">
                <button type="submit" class="card-button centerFlex btn btnCommon">{{ action }}</button>
            </form>
        {% else %}
            <a href="" class="card-button centerFlex btn btnCommon">{{ action }}</a>
        {% endif %}
        <a href="{% url 'PlanetID' planet.planetID %}" class="card-button centerFlex btn btnCommon">Подробнее</a> 
    </div>
</div>