{% extends 'base.html' %}

{% block title %} Выбор планет {% endblock %}

{% block content %}
    <form action="" class="sForm space centerFlex" method="get">
        {% csrf_token %}
        <input class="text" name="PlanetName" type="text" placeholder="Поиск планеты" value="{{ searchText }}">
        <input class="submit" type="submit" value="Найти" >
    </form>
    <div class="container">  
        {% for planet in planets %}
            {% include 'card.html' %}
            {% empty %}
            <li>Список пуст!</li>
        {% endfor %}
        {% if wishCount > 0 %}
            <a href="{% url 'wish' wish_id %}" class="btnWish btnCommon">
                <img class="wishImg" src="http://localhost:9000/images/wishLogo.png" alt="">
            </a>
            <div class="wishCount">{{ wishCount }}</div>
        {% else %}
            <a href="" class="btnWish btnCommon">
                <img class="wishImg" src="http://localhost:9000/images/wishLogo.png" alt="">
            </a>
        {% endif %}
    </div>
{% endblock %}